In [57]:
import pandas as pd

In [58]:
!pip install mlxtend

Requirement already satisfied: mlxtend in e:\anaconda\lib\site-packages (0.19.0)
Requirement already satisfied: scipy>=1.2.1 in e:\anaconda\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.24.2 in e:\anaconda\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: joblib>=0.13.2 in e:\anaconda\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in e:\anaconda\lib\site-packages (from mlxtend) (40.6.3)
Requirement already satisfied: numpy>=1.16.2 in e:\anaconda\lib\site-packages (from mlxtend) (1.21.4)
Requirement already satisfied: matplotlib>=3.0.0 in e:\anaconda\lib\site-packages (from mlxtend) (3.0.2)
Requirement already satisfied: scikit-learn>=0.20.3 in e:\anaconda\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: pytz>=2017.3 in e:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2018.7)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.7.5)
Requirement already satisfied: cycler>=0.10 in e:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in e:\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.3.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\anaconda\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.12.0)

In [59]:
from mlxtend.frequent_patterns import apriori
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules

In [60]:
basket = [['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
          ['Eggs','Milk','Onion','Apple','Ice cream','Eggs'],
          ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
          ['Milk','Apple','Kidney Beans','Eggs'],
          ['Ice cream','Onion','Kidney Beans','Eggs'],
          ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
          ['Onion','Onion','Apple','Ice cream','Yogurt'],
          ['Yogurt','Eggs','Onion','Kidney Beans','Ice cream','Eggs'],
          ['Kidney Beans','Onion','Yogurt','Kidney Beans','Eggs'],
          ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs']
         ]

In [61]:
basket

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Eggs', 'Milk', 'Onion', 'Apple', 'Ice cream', 'Eggs'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Ice cream', 'Onion', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Onion', 'Onion', 'Apple', 'Ice cream', 'Yogurt'],
 ['Yogurt', 'Eggs', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
 ['Kidney Beans', 'Onion', 'Yogurt', 'Kidney Beans', 'Eggs'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [62]:
TE = TransactionEncoder()
TE_ary =TE.fit(basket).transform(basket)

In [63]:
df = pd.DataFrame(TE_ary,columns=TE.columns_)

In [64]:
df.head()

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,True,False,False,True,True,False,True,False,True,False,False
2,False,False,True,True,False,True,False,True,True,False,True
3,True,False,False,True,False,True,True,False,False,False,False
4,False,False,False,True,True,True,False,False,True,False,False

In [65]:
frequent_itemsets = apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets.head()

   support              itemsets
0      0.8                (Eggs)
1      0.8        (Kidney Beans)
2      0.8               (Onion)
3      0.6              (Yogurt)
4      0.7  (Kidney Beans, Eggs)

Association Rule Mining

In [66]:
result1=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)
result1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
1,(Eggs),(Kidney Beans),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
2,(Onion),(Eggs),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
3,(Eggs),(Onion),0.8,0.8,0.7,0.875000,1.093750,0.06,1.6
4,(Kidney Beans),(Onion),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8
5,(Onion),(Kidney Beans),0.8,0.8,0.6,0.750000,0.937500,-0.04,0.8
6,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.000000,1.250000,0.12,inf
7,"(Kidney Beans, Eggs)",(Onion),0.7,0.8,0.6,0.857143,1.071429,0.04,1.4
8,"(Onion, Eggs)",(Kidney Beans),0.7,0.8,0.6,0.857143,1.071429,0.04,1.4
9,(Kidney Beans),"(Onion, Eggs)",0.8,0.7,0.6,0.750000,1.071429,0.04,1.2
10,(Onion),"(Kidney Beans, Eggs)",0.8,0.7,0.6,0.750000,1.071429,0.04,1.2
11,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.750000,1.250000,0.12,1.6

In [67]:
result2=result[['antecedents','consequents','support','confidence','lift']]
result2

,antecedents,consequents,support,confidence,lift
0,(Kidney Beans),(Eggs),0.7,0.875000,1.093750
1,(Eggs),(Kidney Beans),0.7,0.875000,1.093750
2,(Onion),(Eggs),0.7,0.875000,1.093750
3,(Eggs),(Onion),0.7,0.875000,1.093750
4,(Kidney Beans),(Onion),0.6,0.750000,0.937500
5,(Onion),(Kidney Beans),0.6,0.750000,0.937500
6,"(Kidney Beans, Onion)",(Eggs),0.6,1.000000,1.250000
7,"(Kidney Beans, Eggs)",(Onion),0.6,0.857143,1.071429
8,"(Onion, Eggs)",(Kidney Beans),0.6,0.857143,1.071429
9,(Kidney Beans),"(Onion, Eggs)",0.6,0.750000,1.071429
10,(Onion),"(Kidney Beans, Eggs)",0.6,0.750000,1.071429
11,(Eggs),"(Kidney Beans, Onion)",0.6,0.750000,1.250000

In [68]:
result3=result2[result2['confidence']>=1]
result3

             antecedents consequents  support  confidence  lift
6  (Kidney Beans, Onion)      (Eggs)      0.6         1.0  1.25